[alias]
    co = checkout
    st = status
    ci = commit
[user]
	name = Sebastian M. Gauck
	email = smg@42ls.de 
[color]
    status = auto
    diff = auto
    branch = auto
[push]
	default = matching
[core]
	editor = vim
